{form searchTaskForm}
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                {label name /}
                {input name, class => 'form-control'}
            </div>
        </div>
        <div class="col-md-2">
            <br/>
            {input submit, class => 'btn btn-primary'}
        </div>
    </div>
{/form}